name: Android Build APK

on:
  push:
    tags:
      - 'v*.*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: gradle

      - name: Validate Gradle wrapper
        uses: gradle/actions/wrapper-validation@v5

      - run: ./gradlew clean :app:assembleLatestUniversalRelease

      - uses: softprops/action-gh-release@v2
        with:
          files: |
            app/build/outputs/apk/latestUniversal/release/*.apk
          prerelease: true
          draft: true

      - uses: actions/upload-artifact@v4
        with:
          name: release
          path: |
            app/build/outputs/apk/*/release/*.apk
            app/build/outputs/bundle/*/*.aab
            app/build/outputs/mapping/latestUniversalRelease/mapping.txt
